{{>header}}
{{>banner}}
  <div id="wrapper">
        <div class="container">
            <h2>Top News Stories</h2>
            {{!-- <div class="content"> --}}
            <!-- News section -->
                <div class="row rowalign">
                    {{#each items}}
                    <div class="col-xs-2 boxsize">
                            <div class="thumbnail">
                                    <img src="{{img}}">
                                    <div class="caption" style='text-align: center'>
                                       <h3><a href='{{link}}'>{{headline}}</a></h3>
                                       <p>{{summary}}</p></div>
                                     <form action="/saved{{this._id}}" method ="post">
                                        <button class= "btn btnsm btn-primary btnpos" type="submit" value="{{this.isSaved}}" >SAVED ARTICLE</button>
                                     </form>
                            </div>
                    </div> 
                    {{/each}}                 
                </div><!-- End row -->
                
            {{!-- </div> --}}
        </div>
       
    </div>