{{>header}}
  <div id="wrapper">
    <div class="container">

      <h1>{{title}}</h1>
      <div class="content">
        <!-- News section -->
          <div class="row">
          {{#each items}}
            <div class="col-md-12 divarea">
                <div class="header">
                   <h3 data-id="{{_id}}"><a href='{{link}}'>{{headline}}</a></h3>
                    <div class="btn-group" role="group" aria-label="Button Group">
                      {{!-- <div id="notesbtn"> --}}
                        <button type="button" class="btn btn-primary btnsm" data-toggle="modal" data-target="#notesModal" id="notesbtn">Write A Note</button>
                      {{!-- </div> --}}
                      
                      <form action="/delete{{this._id}}" method="post">
                          <button type="submit" class="btn warning btnsm">Delete Article</button>
                      </form>

                    </div>
                </div>
                    <p>{{summary}}</p>
            </div>  
               {{/each}}               
          </div><!-- End row -->

      </div>

    </div>{{!-- end of container div --}}
  </div>{{!-- end of wrapper --}}

   

    <!-- Notes Modal -->
    <div class="modal" id="notesModal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                
                   <h3>Notes for Article:  {{this._id}}</h3>
                    <span class="close" data-dismiss="modal" id="closewindow">&times;</span>
              </div>  <!-- end modal header -->

                  <!-- Display Notes Container -->
             <div class="modal-body" id="displaynotes" > 
                  
                    <div id="prevnotes">No Previous Notes</div>
                
                    <form action = "/submitNote{{this._id}}" method="post">
                        <div>
                          <textarea type="text" rows= 3 type="textarea" id="notesContainer" placeholder="Click here to enter note ..." value="notesinfo"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm" id="saveNote">SAVE NOTE</button>
                        </div>
                    </form>

              </div>{{!-- end of modal body --}}
          </div> <!-- end of modal content -->
      </div> <!-- end of modal dialog -->
    </div> {{!-- end of Modal --}}
    
    
  